body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

h1 {
  margin: 0px;
}

nav {
  background-color: rgb(9, 163, 198);
  float: left;
  width: 30%;
  height: 100%;
  padding: 20px 0px;
  text-align: center;
  color: white;
  box-sizing: border-box;
  position: fixed;
  box-shadow: 5px 0px 10px gray;
  overflow: hidden;
  transition: width 1s;
}

img {
  width: 30px;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav li {
  padding: 10px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
}

nav li:hover {
  background-color: rgb(13, 101, 121);
}

main {
  width: 70%;
  float: right;
  padding: 40px;
  box-sizing: border-box;
  transition: width 1s;
}

main h1 {
  text-align: center;
}

form {
  width: 70%;
  margin: auto;
}

form div {
  margin: 20px 0px;
}

form input[type="text"],
form input[type="email"],
form input[type="datetime-local"] {
  width: 100%;
  padding: 10px;
}

form button {
  background-color: rgb(9, 163, 198);
  border: none;
  padding: 10px 20px;
  color: white;
}

.meio {
  text-align: center;
}

.btn-menu-abrir {
  opacity: 0;
}

.btn-menu-abrir-exibir {
  opacity: 1;
}

.exibir-menu {
  width: 30%;
}

.fechar-menu {
  width: 0%;
}

.aumentar-main {
  width: 100%;
}

form button:hover {
  background-color: rgb(13, 101, 121);
  cursor: pointer;
}

@media (max-width: 600px) {
  nav {
    width: 0%;
  }

  main {
    width: 100%;
  }

  .btn-menu-abrir {
    opacity: 1;
  }

  .btn-menu-fechar {
    opacity: 1;
  }
}